.full-height {
    height: calc(100vh - 57px);
    overflow: hidden;
}

.main-content {
    overflow-y: auto; /* Enable scrolling in the main content */
    max-height: 100%;
    padding-right: 10px;
}
