<div *ngIf="showAlert" class="alert alert-success" role="alert">
  New photo has been added!
</div>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Id</label>
    <input
      type="text"
      class="form-control"
      id="id"
      name="id"
      aria-describedby="id"
      [(ngModel)]="photo.id"
      disabled="true"
    />
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      aria-describedby="title"
      placeholder="Enter Title"
      [(ngModel)]="photo.title"
      required
    />
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input
      type="text"
      class="form-control"
      id="image"
      name="image"
      placeholder="Enter URL image"
      [(ngModel)]="photo.url"
      required
    />
  </div>
  <div class="form-group">
    <label for="title">Album id</label>
    <input
      type="text"
      class="form-control"
      id="album-id"
      name="album-id"
      [(ngModel)]="photo.albumId"
      disabled="true"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
